.about{
    border: 2px solid lime;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.text{
    width: 50%;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
    align-items: center;

}
.image{
    width: 50%;
    margin-left: auto;
}