.about-us{
    margin-bottom: 60px;
}
.about-us h2{
    padding-top: 20px;
    margin-bottom: 40px;
}
.about-learn{
    display: flex;
    margin: 50 auto;
    justify-content: space-between;
}
.about-learn .text{
    width: 45%;
    font-size: 18px;
    text-align: left;
} 
.about-learn .text p{
    margin-bottom: 45px;
}
.about-learn .image{
    width: 45%;
}
.about-learn .image img{
    width: 100%;
}