.header{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background-color: crimson;
    padding: 0 60px;
}
.logo h2{
    color: white;
    font-size: 25px; 
}
.nav-item{
    margin-left: auto;
}
.item{
    margin-right: 20px;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.item:hover{
    color: orange;
    transition: .4s;
}