.border{
    border: 2px solid lime;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: yellow;
}
.logo p{
    color: lime;
    font-size: 25px;
    margin: -10px 0;
}
.nav-item{
    margin-left: auto;
}
.item{
    margin-right: 20px;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    font-weight: 500;
    color: black;
}