.footer{
    display: flex;
    background-color: #3d5a80;
    color: white;
    padding: 0 60px;
}
.footer .partnership{
    width: 30%;
    text-align: left;
}
.footer .about{
    text-align: left;
    width: 30%;
}
.footer .support{
    text-align: left;
    width: 30%;
}